.about-section {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity))  ;
}

.contact-section .card  {
  border: 0.25rem solid #64a19d;
  border-radius: 1rem;
}
.about-section .section-body  {
  border: 0.25rem solid #64a19d;
  border-radius: 1rem;

}
.skill-card {
  border: 0.25rem solid #64a19d;
  border-radius: 1rem;
  margin: 1rem;
}
.card-row {
  margin-bottom: 1rem;
}

.footer {
    margin: 1rem;
    padding: 0.5rem;
    text-align: center;
    color: white;
}